<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Fundamentals (Good)</span></div>

# What to expect in this chapter

# There is more to if

In [2]:
name = input()

if name == 'Batman':
    print("Hello Batman!")
elif name == 'Robin':
    print("Hello Sidekick!")
else:
    print("Hello World!")

Robin
Hello Sidekick

# Asking questions

In [2]:
fruits = ["apple","orange","banana", "pineapple"]
vegetables = ["kale", "celery", "broccoli", "cabbage"]

In [6]:
'apple' in fruits

True

In [8]:
'cauliflower' in vegetables

False

In [15]:
'peach' not in fruits

True

In [12]:
('orange' in fruits) and ('chili' in vegetables)

False

In [13]:
('orange' in fruits) or ('chili' in vegetables)

True

In [4]:
('banana' in fruits) and ('Avocado' not in vegetables)

True

In [14]:
'app' in "apple"

True

In [16]:
3 > 10.5

False

In [18]:
3 > 'apple' # Will Not Work, Dont bother

#TypeError: '>' not supported between instances of 'int' and 'str'

TypeError: '>' not supported between instances of 'int' and 'str'

In [19]:
'apple' > 'orange'

#Works as english letters are internally represented as numbers

False

## Asking Math questions

In [23]:
x = 10

x < 5 and x > 15

False

In [22]:
x = 3

(x < 1) or (x > 2)

True

# 4 Python stores information in different formats or types

In [25]:
x = int(1.234)
print(x, type(x))

1 <class 'int'>

In [26]:
x = str(1.234)
print(x, type(x))

1.234 <class 'str'>

In [27]:
x = float(1.234)
print(x, type(x))

1.234 <class 'float'>

In [28]:
x = complex(1.234)
print(x,type(x))

(1.234+0j) <class 'complex'>

In [29]:
x = '1.234'
print(x,type(x))

1.234 <class 'str'>

In [30]:
x = '1.234'
x = float(x)

print(x, type(x))

1.234 <class 'float'>

# Never compare floats directly

## The Problem

In [32]:
a = 0.1
a3 = 0.3
a*3 == a3

False

In [33]:
a*3

0.30000000000000004

In [36]:
f'{0.3:.17f}'

#They just arent the same eh

'0.29999999999999999'

## A solution

In [37]:
eps = 1E-10
abs(a*3 - a3) < eps

# Setting limits

True

In [38]:
import numpy as np

np.isclose(a*3, a3)

# This also works I guess

True

# Combining English and variables

## Structure of f-strings

In [42]:
name = "Batman"
print(f"Hello {name}!")
print(f"Hello {name.upper()}!")

Hello Batman!
Hello BATMAN!

In [47]:
x = 10
print(f'The value of {x} squared is {x**2}!')

# Playing with math

The value of 10 squared is 100!

In [48]:
text = 'Bruce Wayne is Batman.'
print(f'{text}')
print(f'{text:>30}')
print(f'{text:^30}')
print(f'{text:<30}')

# Playing with alignment

Bruce Wayne is Batman.
        Bruce Wayne is Batman.
    Bruce Wayne is Batman.
Bruce Wayne is Batman.

In [50]:
import numpy as np

print(f'The cube of pi to 6 decimal places is {np.pi**3:.6f}')
print(f'The cube of pi to 6 decimal places is {np.pi**3:.6e}')

# Playing with decimals

The cube of pi to 6 decimal places is 31.006277
The cube of pi to 6 decimal places is 3.100628e+01

# Escape sequences

In [51]:
print('Line 1\n\tLine2\n\t\tLine3')

Line 1
	Line2
		Line3

In [52]:
print('You\'re twenty years old')

You're twenty years old

In [54]:
print('A\B\C')           # Erm is this supposed to fail?
print('A\\B\\C')

A\B\C
A\B\C

In [55]:
print('A\nB\nC')

A
B
C

In [56]:
print('A\n\tB\tC')

#Just for fun

A
	B	C

# Computers read = from Right to Left!

In [57]:
x = 40
y = x + 2

print(y)

42

In [58]:
x = 40
x = x + 2

print(x)

42

In [60]:
x == y == 42

True

# Shorter and Cleaner Code

In [61]:
y = 40
y = y + 2

print(y)

42

In [62]:
y = 40
y += 2

print(y)

42

In [63]:
a = 5

a -= 2
a *= 4
a /= 2

print(a)

6.0

# Python can be a prima-donna.

In [ ]:
#Tldr, in every error message, just read the last line

# Best Practices for Scientific Computing

Just Remember (in markdown)
1. Write programs for people, not computers.
2. Optimise software only after it works correctly.
3. Document design and purpose, not mechanics.
4. Collaborate.

# Looking for help

In [64]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

## References

## Footnotes